.DS_Store
.gitignore
node_modules
content/
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.quartz/
.idea/
.site.local.*
.quartz-cache/
quartz/cli/tui/dist/
.turbo/
