.DS_Store
node_modules/
content
public/
prof/
tsconfig.tsbuildinfo
.obsidian/
.quartz-cache/
private/
.replit
replit.nix
.quartz/
.idea/
.site.local.*
quartz/cli/tui/dist/
site/plugins/*/dist/
.turbo/
